<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/init %>
</head>
<body class="container">

    <main>
        <div class="wells text-center" style="background-color: #FF5050!important;padding-top:1px;padding-bottom:1px;">
            <h1 style="color:#F2E6E6">This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <header>
        <% include ../partials/header %>
    </header>



    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>